
.watchlists-wrap {
  padding-top: 64px;
  display: flex;
}

.watchlists-bar {
  position: fixed;
  min-height: 100%;
  width: 25%;
  padding: 10px;
  border-right: 1px solid #D8D8D8 ;
}

.add-watchlist-btn {
  background-color: #2196F3;
  color: #ffffff;
  border-radius: 2px ;
  outline: none;
  border: none;
  height: 30px;
  width: 90%;
  margin: 25px 10px;

}

.watchlists-bar-top {
  border-bottom: 1px solid #D8D8D8;
}

.watchlists-bar-bottom {
  display: flex;
}

.watchlist-bar-titles {
  cursor: pointer;
  padding: 8px 10px;
}

.right-watchlists {

  padding: 20px;
  position: absolute;
  left: 25%;
  width: 75%;
  height: 100%;
}
