@import "assets/styles/colors";
@import "assets/styles/general";


.player-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $myWhite;
}

.player-song-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  margin-left: 20px;
}

.player-footer img {
  width: 50px;
  height: 50px;
}

.player-audio {
  width: 60%;
}

.player-audio audio {
  width: 80%;
}
