html {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /*outline: red 1px solid;*/
}

a:link,
a:visited {
  color: #f7fcff;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #f7fcff;
  outline: none;
}

li {
  list-style: none;
}

.player-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FBFBFB;
}

.playing-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-footer img {
  width: 50px;
  height: 50px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #2196F3;
  width: 100%;
  padding: 20px;
  position: fixed;
  z-index: 25;
}

.nav-style {
  display: flex;
  align-items: center;
}

.logo-style {

  color: #fff;
  display: flex;
  align-items: center;
}

.logo-style i {
  font-size: 30px;
  margin-left: 10px;
}

.logo-style p {
  padding-left: 10px;
  font-size: 20px;
  margin-right: 30px;
}

.tab {
  text-align: center;
  color: #fff;
  height: 64px;
  padding: 22px 10px;
  font-size: 15px;
}

.selected {
  height: 64px;
  background-color: #1E88E5;
}

.right-top-bar {
  display: flex;
}

.search-nav {
  background-color: #1E88E5;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  order: 4;
}

.search-nav i {
  margin: 2px 4px;
  color: #FFFFFF;
}

input[type=text].nav-search-input {
  border: none;
  width: 235px;
  padding: 3px 32px 3px 10px;
  color: #e3e3e3;
  font-weight: 300;
  background-color: transparent;
}

.nav-log {
  order: 5;
}

.midMe {
  padding-top: 10%;
  padding-left: 45%;
}

.explore-wrap {
  padding-top: 64px;
  padding-bottom: 60px;
}

.genres-section {
  display: flex;
  background-color:  #DDE4E6;
}

.genres-section p {
  font-weight: 700;
  margin-left: 10px;
}

.genere-style {
  display: flex;
  justify-content: space-between;
padding: 0;
  margin: 0;
  height: 40px;
  //align-items: center;

}

.genere-style li {
  margin: 16px 10px 0 10px;
}

.genere-style li:hover {
  color: #2d2d11;
  box-shadow: inset 0 -2px 0 #5CB3FF;
  transition: all .2s ease-in-out;
}

.genere-style li > a {
  color: black;
}

.song-cards-wrapper {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.song-card {
  margin: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid #D8D8D8;
  background-color: #fff;
  //display: inline-flex;
  width: 220px;
  height: 140px;
}

.song-card-img {
  display: block;
  border: 1px solid #0a0b0d;
  width: 200px;
  height: 85px;
  object-fit: cover;
  //margin-bottom: 10px;
  //background-size: auto;

}

.song-card-info {
  margin: 7px 0 10px 0;
}

.song-title {
  //display: block;
  font-size: 0.69rem;
  width: 100%;
}

.song-duration {
  font-size: 10px;
}

.heart-font {
  font-size: 14px;
  color: #D8D8D8;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.heart-font:hover {
  color: #2196F3;
  transform: scale(1.10);
}

.pager {
  display:flex;
  align-items: center;
  justify-content: center
}



//.signin {
//  background-color: #FFFFFF;
//  width: 100%;
//  height: 100vh;
//  margin: 0 auto;
//
//}

.sign-container {
  width: 416px;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;

  flex-direction: column;
}

.sign-logo {
  color: #2196F3;
  text-align: center;
}

.s-logo {
  font-size: 100px;

}

.sign-logo p {
  margin: 0;
  font-size: 2.5rem;

}

.signin-form {
  margin-top: 48px;
  display: flex;
  flex-direction: column;

}

.signin-form label {
  color: #2196F3;
  font-size: 12px;
  text-align: left;
  margin-top: 18px;
}

input[type=text].signin-input {
  border: 0;
  border-bottom: 1px solid #2196F3;
  outline: none;
  width: 415px;
  font-size: 16px;
}

.continue-btn {
  display: flex;
  background: #2196F3;
  border-radius: 2px;
  color: #fff;
  border: none;
  width: 87px;
  height: 30px;
  align-self: center;
  margin-top: 46px;
}

.ca-holder {
  margin-top: 35px;
}

.ca-holder .ca-link {
  color: #2196F3;
  margin-left: 8px;
}

.pager {
  margin-top: 40px;
  display: flex;
  align-content: center;
  height: 40px;
}

.page-btn {
  background: #2196F3;
  border-radius: 2px;
  color: #fff;
  border: none;
  width: 87px;
  height: 30px;
}


