@import "assets/styles/colors";
@import "assets/styles/general";

.playlists-wrap {
  padding-top: 64px;
  display: flex;
}

.playlists-bar {
  position: fixed;
  min-height: 100%;
  width: 25%;
  padding: 10px;
  border-right: 1px solid #D8D8D8 ;
}

.add-playlist-btn {
  background-color: #2196F3;
  color: #ffffff;
  border-radius: 2px ;
  outline: none;
  border: none;
  height: 30px;
  width: 90%;
  margin: 25px 10px;

}

.playlists-bar-top {
  border-bottom: 1px solid #D8D8D8;
}

.playlists-bar-bottom {
  display: flex;
  //justify-content: center;
}

.playlist-bar-titles {
  cursor: pointer;
  padding: 8px 10px;
}

.right-playlists {

  padding: 20px;
  position: absolute;
  left: 25%;
  width: 75%;
  height: 100%;
}
