@import "assets/styles/colors";
@import "assets/styles/general";



.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: $blue;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 25;
}

.nav-style {
  display: flex;
  align-items: center;
}

.logo-style {

  color: $myWhite;
  display: flex;
  align-items: center;
}

.logo-style i {
  font-size: 30px;
  margin-left: 10px;
}

.logo-style p {
  padding-left: 10px;
  font-size: 1.25rem;
  margin-right: 30px;
}

.tab {
  text-align: center;
  color: $myWhite;
  height: 64px;
  padding: 22px 10px;
  font-size: 0.93rem;
}

.selected {
  height: 64px;
  background-color: $darkBlue-1;
}

.right-top-bar {
  display: flex;

  justify-content: space-between;
}

.search-nav {
  background-color: $blue;
  border: 1px solid $myWhite;
  border-radius: 25px;
  order: 4;
  margin-right: 25px;
}

.search-nav i {
  margin: 2px 4px;
  color: $myWhite;
}

input[type=text].nav-search-input {
  border: none;
  width: 235px;
  padding: 3px 32px 3px 10px;
  color: $myWhite;
  font-weight: 300;
  background-color: transparent;
}

.nav-search-input::placeholder {
  color: $myWhite;
}

.nav-log {
  order: 5;
}
