


.movie-card {
  margin: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid #D8D8D8;
  width: 220px;
  height: 140px;
}

.movie-card-img {
  display: block;
  border: 1px solid #D8D8D8;
  width: 200px;
  height: 85px;
  margin-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-card-img:hover .movie-view-mode {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
}

.movie-view-mode {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.playin {
  background-color: rgba(0, 0, 0, 0.5);
}

.movie-card-info {
  margin: 7px 0 10px 0;
}

.movie-title {
  font-size: 0.70rem;
  font-weight: bold;
  width: 100%;
}

.overview-font {
  font-size: 14px;
  color: #D8D8D8;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 5px;
  right: 24px;
}

.overview-font:hover {
  color: #2196F3;
}

.movie-overview {
  font-size: 0.65rem;
  line-height: 1.3rem;
}

.dropdown-overview {
  padding: 10px;
  position: absolute;
  z-index: 15;
  font-size: .4rem;
  right: 0;
  box-shadow: 0px 2px 8px 0px #000;
  background-color: #fff;
}

.heart-font {
  font-size: 14px;
  color: #D8D8D8;
  transition: all .2s ease-in-out;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.heart-font:hover {
  color: #2196F3;

}

.hide {
  display: none;
}

.dropdown-heart {
  padding: 10px;
  position: absolute;
  z-index: 15;
  width: 130px;
  right: 0;
  box-shadow: 0px 2px 8px 0px #000;
  background-color: #fff;
}

.drop-heart-header {
  border-bottom: 1px solid #E0E0E0 ;
  padding: 3px;
}

.dropdown-heart h6 {
  color: #4A4A4A;
  font-size: 11px;
  margin: 0;
}



.dropdown-heart .create-watchlist {
  color: #2196F3;
  font-size: 9px;
  cursor: pointer;
}

.check-h {
  color: #2196F3;
}

.watchlist-list-of-checkbox {
  padding: 0;
  font-size: 9px;
  color: #4A4A4A;
  margin: 5px;
  display:flex;
  flex-direction: column;
}

.watchlist-list-of-checkbox [type="checkbox"] {
  margin-right: 0.3rem;
}

.pager {
  display:flex;
  align-items: center;
  justify-content: center
}
