@import "assets/styles/colors";
@import "assets/styles/general";




.playlist-header {
  display: flex;
  align-content: center;
  height: 64px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12);
  padding: 0 20px;
  position: relative;
}

.deleteBtn {
  display: none;
  border: none;
  cursor: pointer;
  color: #F44336;
  padding: 15px 40px;
  border-radius: 2px;
  font-size: 0.81rem;
  background: #fff;
  position: relative;
  //right: 20px;
  //top: 10px;
  overflow: hidden;
}

.playlist-header:hover .deleteBtn {
  display: flex;
}

.deleteBtn:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: #ff6358;
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.deleteBtn:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.playlist-name {

  align-self: center;
  font-family: Roboto-Light, serif;
  font-size: 22px;
  color: #000000;
}

.playlist-name-hide {
  display: none;
}

.song-count {
  //align-self: center;
  text-align: center;
  background-color: #2196F3;
  width: 22px;
  height: 22px;
  border-radius: 25px;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 22px;
  margin-top: 10px;
}


input[type=text].input-playlist-name {
  display: block;
  border: 0;
  border-bottom: 1px solid #2196F3;
  outline: none;
  width: 415px;
  font-size: 16px;
}

.input-playlist-name-hide {
  display: none;
}

.playlist-content {
  padding: 20px;
  min-height: 250px;
  display: flex;
  flex-wrap: wrap;
}
